:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --temporary-bg-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

/* All site */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* site-nav */

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--title-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav-text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav-text:hover,
:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.site-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-contact:hover,
:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
/* hero */

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color-hover);
}

.hero-bg-temporary {
  background-color: var(--temporary-bg-color);
}

/* advantages */

.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages p {
  color: var(--primary-text-color);
}

/* team */
.team-name h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-name p {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* footer */
.footer-map {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}

.footer-contact a {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-text-color);
}

/* PORTPHOLIO */
/* Types of work */

.button-works {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-works:hover,
:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* Our works */

.works-title h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-title p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
